<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="LoggerSQLServerConnection" connectionString="Server=DESKTOP-L1T7764\SQLEXPRESS;Database=MFUTemplateTest;User Id=sa;Password=Passw0rd!;" providerName="System.Data.SqlClient" />
    <add name="LoggerOracleConnection" connectionString="Data Source=OracleServer1;Persist Security Info=True;User ID=xxxx;Password=xxxx" providerName="System.Data.OracleClient" />
    <add name="LoggerMySqlConnection" connectionString="server=localhost;port=3306;database=MFUTemplateTest;uid=xxxx;password=xxxx" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <appSettings>
    <!-- Logger: SqlServer, Oracle, MySql -->
    <add key="LoggerDefaultDB" value="SqlServer" />
    <add key="LoggerFilePath" value="C:\LogTest" />
  </appSettings>
</configuration>