<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <connectionStrings>
    <add name="LoggerSQLServerConnection" connectionString="Server=DESKTOP-L1T7764\SQLEXPRESS;Database=MFUTemplate;User Id=sa;Password=Passw0rd!;" providerName="System.Data.SqlClient" />
    <add name="LoggerOracleConnection" connectionString="Data Source=OracleServer1;Persist Security Info=True;User ID=xxxx;Password=xxxx" providerName="System.Data.OracleClient" />
    <add name="LoggerMySqlConnection" connectionString="server=localhost;port=3306;database=MFUTemplate;uid=xxxx;password=xxxx" providerName="MySql.Data.MySqlClient" />

    <add name="SQLServerConnectionString" connectionString="Server=DESKTOP-L1T7764\SQLEXPRESS;Database=MFUTemplate;User Id=sa;Password=Passw0rd!;" providerName="System.Data.SqlClient" />
    <add name="OracleConnectionString" connectionString="Data Source=(DESCRIPTION =(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST = 10.1.200.196)(PORT = 1521)))(CONNECT_DATA =(SERVICE_NAME = MFUTEST)));User ID=web_document;Password=Test196;" providerName="System.Data.OracleClient" />
    <add name="MySqlConnectionString" connectionString="server=localhost;port=3306;database=MFUTemplate;uid=xxxx;password=xxxx" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <!-- Application: SqlServer, Oracle, MySql -->
    <add key="DefaultDB" value="SqlServer" />
    <add key="RecordPerPage" value="10" />

    <!-- Logger: SqlServer, Oracle, MySql -->
    <add key="LoggerDefaultDB" value="SqlServer" />
    <add key="LoggerFilePath" value="C:\LogTest" />

    <!-- API -->
    <add key="SigningKey" value="4b990cd882af4519878c8e0a94419b0f90b23cd097c8226192ce22d9a619733a" />
    <add key="TokenIssuer" value="http://my.website.com" />
    <add key="TokenAudience" value="http://my.website.com" />
    <add key="TokenLifetimeInMinutes" value="30" />

    <!-- Mail -->
    <add key="MailTimeout" value="10000"/>
    <add key="MailPort" value="587"/>
    <add key="MailHost" value="smtp.gmail.com"/>
    <add key="MailCredentialsUser" value="user@gmail.com"/>
    <add key="MailCredentialsPassword" value="password"/>
    <add key="MailDonotReply" value="donotreply@domain.com"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>
